@import "breakpoints";
@import "container.scss";
@import "fonts";
@import "background";

html {
    font-size: 16px;
}

body{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

main > #root > section{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    &:first-child{
        border-top:0;
    }
}